* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: #000000;
    color: #f2f5ef
}

div {
    display: block;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;   
    width: 100%;
    border-bottom: 3px solid #f2f5ef;
}

nav {
    padding-bottom: 5px;
    display: flex;
    
}

.logo {
    position: absolute;
    left: 15px;
    padding: 5px;
}

li {
    margin: 0;
    list-style-type: none;
    padding: 5px;
}

a {
    color:#f2f5ef;

}

a:link {
    text-decoration: none;
}

.toplink a:hover {
    color: #856830;
}   

img {
    max-width: auto;
    max-height: 500px;
}

.hero {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    border-bottom: 3px solid #f2f5ef;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    text-align: left;
    margin-right: 50px;
    color: #f2f5ef;
    font-size: 18px;

}

button {
    border-radius: 8px;
    max-width: 130px;
    height: 3vh;
    background-color: #000000;
    color: #f2f5ef;
    font-size: 16px;
    outline: none;
    border: 2px solid #f2f5ef
    
}

button:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

h1 {
    color: #f2f5ef;
    font-weight: extra-bold;
    font-size: 48px;
   

}

h2 {
    text-align: center;
    font-size: 26px;
   font-weight: extra-bold;
   color: #f2f5ef;
   padding-top: 50px;
}

#information {
   padding-top: 50px;
   gap: 100px;
   display: flex;
   
   justify-content: center;
   flex-wrap: wrap;
   
}

#information img {
    max-width: auto;
    max-height: 150px;
    border-radius: 10px;
}

#information .informationcards {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    
}

.quote {
    display: flex;
    padding: 50px 300px 50px;
    flex-direction: column;
    background-color: #000000;
    font-size: 24px;
    display: block;
    color: #f2f5ef;
    border-bottom: 5px solid #f2f5ef;
    border-top: 5px solid #f2f5ef
}

.whatsaid {
    font-weight: italic;
    color: #1F2937;
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #f2f5ef;
    
}

.whosaid {
   
    font-size: 18px;
    padding: 10px;
    text-align: left;
    
}

.action {
    background-color: ##000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 550px;
    border-radius: 8px;
    color: #F9FAF8;
    border: 3px solid #f2f5ef

}

.actionmain {
    font-weight: bolder;
    text-align: left;
}

.actionsub {
    font-weight: lighter;
    text-align: left
}

footer {
   background-color: #000000; 
   color: #E5E7EB;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}